<html>
    <head>
        <title>LightDiscordClient</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <p>Welcome to LightDiscordClient<br>This is an unofficial Discord Client created for phones/computers unable to run Discord's app<br>(we also have great support for archaic browsers! (that's why this website is that fancy looking))<br><br><br>AND CAN YOU BELIEVE IT?  R̶E̶V̶E̶R̶S̶I̶! THIS WEBSITE (and the client) HAVE NO CLIENT-SIDE JAVASCRIPT!</p>
        <form action="login.php" method="GET" width="500">
            <input type="text" autocomplete="off" width="500" placeholder="Email" name="d">
            <input type="password" autocomplete="off" width="500" placeholder="Password" name="d2">
            <input type="submit" value="Log in">
        </form>
        <p>Using this client may lead to getting your account banned. Not responsible.</p>
    </body>
</html>
