<html>
    <head>
        <title>LightDiscordClient</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <p>Welcome to LightDiscordClient<br>This is an unofficial Discord Client created for phones/computers unable to run Discord's app<br>(we also have great support for archaic browsers! (that's why this website is that fancy looking))<br><br><br>AND CAN YOU BELIEVE IT?  R̶E̶V̶E̶R̶S̶I̶! THIS WEBSITE (and the client) HAVE NO CLIENT-SIDE JAVASCRIPT!</p>
        <form action="loader.php" method="GET" width="500">
            <input type="text" autocomplete="off" width="500" placeholder="Paste token here." name="d">
            <input type="submit" value="Log in">
        </form>
        <p>Can't see/complete input above? Replace "index.html" in URL with "loader.php?d=YOUR TOKEN".<br><br><br><br>USING DISCORD CUSTOM/MODDED CLIENTS IS AGAINST TERMS OF SERVICE, THERE HAVE BEEN REPORTS OF PEOPLE USING MODDED/CUSTOM CLIENTS AND GETTING BANNED BECAUSE OF IT. PLEASE BE CAREFUL IF YOU WANT TO USE THIS AS YOUR DAILY USE CLIENT.</p>
    </body>
</html>
